
.DS_Store
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/chessBot/v17/ipch/AutoPCH/37db77ee7ee58e40/MAIN.ipch
/.vs/chessBot/v17/Browse.VC.opendb
/.vs/chessBot/v17/Browse.VC.db-wal
/.vs/chessBot/v17/Browse.VC.db-shm
/.vs/chessBot/v17/Browse.VC.db
/.vs/chessBot/v17/.wsuo
/.vs/chessBot/FileContentIndex/85b504ae-61f2-45eb-b83c-cf94e3579844.vsidx
/.vs/chessBot/FileContentIndex/15e37271-702b-47a3-9d88-fadb217164f0.vsidx
/.vs/chessBot/FileContentIndex/d70e2d87-057c-4d81-aab2-e938adb59fff.vsidx
/.vs/chessBot/FileContentIndex/0a486c00-a25d-4fd5-a031-07819d5aa8d7.vsidx
/.vs/chessBot/FileContentIndex/04bd61da-2ecf-482a-8b3e-ba928022eb9c.vsidx
/.vs/chessBot/FileContentIndex/00ee612d-729d-4e61-b50d-cfc04824d4ea.vsidx
/.vs/chessBot/FileContentIndex/2aeada7d-6737-4a10-aafb-c8e67264b318.vsidx
/chess-bot-client/.vs/slnx.sqlite
/chess-bot-client/.vs/ProjectSettings.json
/chess-bot-client/.vs/chess-bot-client/v17/.wsuo
/chess-bot-client/.vs/chess-bot-client/FileContentIndex/ff581e5e-8972-4cbd-b4d2-c40f6eb8cc87.vsidx
/chess-bot-client/.vs/chess-bot-client/FileContentIndex/b01be6ac-b35c-41f1-8445-aa5e30e7374a.vsidx
/chess-bot-client/.vs/chess-bot-client/FileContentIndex/4e46f541-2f2c-4032-aacf-a975b0a0b65c.vsidx
/.vs/VSWorkspaceState.json
/.vs/chessBot/FileContentIndex/9aa74066-21e7-49ff-b181-df5e66e6cd36.vsidx
/.vs/chessBot/config/applicationhost.config
/.vs/chessBot/FileContentIndex/6f74eb55-4aac-40a8-8650-5e61438117c0.vsidx
/.vs/chessBot/FileContentIndex/df00f456-c80f-4b2b-b726-dc70ae611b9d.vsidx
/chess-bot-client/.vs/VSWorkspaceState.json
/.vs/chessBot/FileContentIndex/462ed0ca-3159-4712-94f7-42af87a46957.vsidx
/.vs/chessBot/FileContentIndex/a39c5dcb-5b11-47db-9fbf-79e38d4bc6cb.vsidx
/.vs/chessBot/FileContentIndex/e000a5a0-be30-4096-aed6-4f5872d06aa1.vsidx
/.vs/chessBot/FileContentIndex/dd72bbed-2cb3-484e-8a9b-5d31f44ea934.vsidx
/webServer/.vs/ProjectSettings.json
/.vs/chessBot/FileContentIndex/f0590b00-45d1-4541-839e-15e648ff9100.vsidx
/webServer/.vs/slnx.sqlite
/.vs/chessBot/FileContentIndex/9a3e57af-2009-4ad5-a8f9-d3446be7cfec.vsidx
/webServer/.vs/VSWorkspaceState.json
/.vs/chessBot/FileContentIndex/c07bab00-9c1d-4a47-8217-3253cafee89e.vsidx
/webServer/.vs/webServer/FileContentIndex/948e8ff0-903a-4e6a-be97-4d6d56354395.vsidx
/.vs/chessBot/FileContentIndex/e386893b-6afb-47a4-96f2-7c73f48eba0c.vsidx
*.wsuo
/.vs/chessBot/FileContentIndex/6bc98ede-448e-4d01-997d-d4412251c42c.vsidx
