{
    "tabWidth": 4,
    "singleQuote": false,
    "experimentalTernaries": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.json"],
            "options": { "parser": "json" }
        }
    ]
}
