.App {
  text-align: center;
    background-color: #141426;

  background-image: 
      radial-gradient(at 47% 33%, hsl(143.49, 32%, 23%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(222.86, 3%, 14.000000000000002%) 0, transparent 5)
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  
}



.enarcImage {
  width: 50px;
}

.flex {
  display:flex;
}

.flexChild {
  flex: 1;
}

.chessSide {
  padding: 30px;
  flex: 1;
  
}
